* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-family: 'Poppins', sans-serif;
  color: white;
  font-size: 10px;
}

body {
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0px 0px 20px #242424;
}

main {
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.focus-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: inline-block;
  padding: 20px;
}

.focus-question {
  font-size: 3rem;
}

.focus-input {
  background-color: unset;
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: 3rem;
  text-align: center;
}

.main-content {
  align-self: center;
  text-align: center;
  max-width: 700px;
}



.quote {
  font-size: 1.6rem;
  margin-top: 60px;
}

.quote-author {
  font-size: 1.2rem;
}

.time {
  font-size: 15rem;
  line-height: 0.8;
}

.hello-message {
  font-size: 5.4rem;
}

.top {
  display: flex;
  justify-content: flex-end;
}

.weather-wrapper {
  display: flex;
  flex-direction: column;
}

#weather-location {
  font-size: 1.5rem;
}

.weather-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.weather-info>img {
  width: 40px;
}

.weather-info p {
  font-size: 2.4rem;
}

.image-info {
  font-size: 1.2rem;
}

.added-focus-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox-label {
  margin: 0 0.5em;
}

i.checkbox {
  cursor: pointer;
}


#nikola {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dots {
  border-radius: 50%;
  padding: 6px;
  transition: background-color 0.35s ease;
}

.hidden {
  visibility: hidden;
}

.dots i {
  font-size: 2rem;
  width: 20px;
}

.dots:hover {
  background-color: rgba(208, 188, 188, 0.5);
}

.crossed {
  text-decoration: line-through;
  color: rgb(211, 208, 208);
}

.dots-container {
  background-color: #0f0f0fec;
  opacity: 0.9;
  width: 150px;
  border-radius: 7px;
  flex-direction: column;
  cursor: pointer;
  padding: 6px 0;
  position: absolute;
  top: 40px;
  /* bottom: -50px; */
  display: none;
}

.dots-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 100%;
  padding: 6px 15px;
  font-size: 1.4rem;
}

.dots-option i {
  font-size: 1rem;
}

.dots-option:hover {
  background-color: #333333;
}

i.dark {
  color: rgb(211, 208, 208);
}